@page "/"

<div class="container">
    <div class="row">
        <h1>Experiment With Controls</h1>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            Pick a number:
        </div>
    </div>
    <div class="col-sm-6">
        <input type="range" />
    </div>
    <div class="row mt-5">
        <h2>
            Here's the value:
        </h2>
    </div>
</div>
