@page "/"

<div class="container">
    <div class="row">
        <h1>Experiment With Controls</h1>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            Enter text:
        </div>
        <div class="col-sm-6">
            <input type="text" placeholder="Enter text"
                   @onchange="UpdateValue" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            Pick a number:
        </div>
    </div>
    <div class="col-sm-6">
        <input type="range" @onchange="UpdateValue" />
    </div>
    <div class="row mt-5">
        <h2>
            Here's the value: <strong>@DispalyValue</strong>
        </h2>
    </div>
</div>


@code
{

    private string DispalyValue = "";

    private void UpdateValue(ChangeEventArgs e)
    {
        DispalyValue = e.Value.ToString();
    }
}
